.article ul,
.article ol  {
  margin-inline-start: var(--s-lg);
}

.article img {
  margin-inline:auto;
}

.article :where(header, main, footer) {
  padding-block: 5vmax;
}

.article  :where(h1,h2,h3) {
  margin-block-start: calc(var(--stack) * 1.5);
}

.article :where(h1, h2, h3) + *:not(h1, h2, h3) {
  margin-block-start: calc(var(--stack) / 1.5);
}

.article :where(p, pre, summary, iframe, ul, ol) {
  margin-block-start: calc(var(--stack) / 1.5);
}

.article :where(h1:is(:first-of-type)) {
  margin-block-start: 0;
}
