.article :where(header, main, footer) {
  padding-block: 5vmax;
}

.article :where(h1,h2,h3) {
  margin-block-start: calc(var(--stack) * 1.5);
}

.article :where(h1:is(:first-of-type)) {
  margin-block-start: 0;
}

.article :where(ul,ol)  {
  margin-inline-start: var(--s-lg);
}

.article img {
  margin-inline:auto;
}

.article aside {
  background-color: var(--secondary-light-1);
  border-radius: 0.25rem;
  padding:0.5rem;
}
