.hero {
  --s: 10rem;

  --_g: var(--secondary) 0 25%,#0000 0 50%;
  background:
   repeating-conic-gradient(at 33% 33%,var(--_g)),
   repeating-conic-gradient(at 66% 66%,var(--_g)),
   var(--primary); 
  background-size: var(--s) var(--s); 
}

.hero-presentation {
  width: min(35rem, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-welcome { grid-column: 1 / -1 }
.hero-scroll-down { grid-column: 1 / 2 }
.hero-contact { grid-column: 2 / -1 }
