<header>
  <nav class="[ navbar ] [ padding-xs bg-primary fw-bold text-white box-shadow-blur ]">
    <ul class="[ navbar-list ] [ flex-row ] [ gap-sm list-style-none align-items-center ]">
      <li class="navbar__brand [ mi-end-auto fs-lg ]">
        <a href="/">
          Seb Méndez
        </a>
      </li>
      <li class="navbar__item">
        <a href="#projects">
          Projects
        </a>
      </li>
      <li class="navbar__item">
        <a href="#contact">
          Contact
        </a>
      </li>
      <li class="navbar__item">
        <a href="/es/">ES 🇲🇽</a>
      </li>
      <li class="navbar__item">
        <a href="/en/">EN 🇺🇸</a>
      </li>
    </ul>
  </nav>
</header>
