<header>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar__brand">
        <a href="/">
          Seb Méndez
        </a>
      </li>
      <li class="navbar__item">
        <a href="#projects">
          Projects
        </a>
      </li>
      <li class="navbar__item">
        <a href="#contact">
          Contact
        </a>
      </li>
      <li class="navbar__item">
        <a href="/es/">ES 🇲🇽</a>
      </li>
      <li class="navbar__item">
        <a href="/en/">EN 🇺🇸</a>
      </li>
    </ul>
  </nav>
</header>
