{% macro articleCard(
  title = false,
  date = false,
  featuredImage = false,
  featuredImageAlt = '',
  url = false,
  description = false,
  tags
) %}
  <article class="[ flex-column ] [ bg-white text-dark border-primary h-100 ]">
    <figure class="border-bottom-primary">
      <img
        src="{{ featuredImage | url }}"
        alt="{{ featuredImageAlt }}"
        width="100%"
        height="auto"
        loading="lazy"
      >
    </figure>
    <div class="[ flex-column ] [ padding-xs gap-xs flex-grow ]">
      <h3>
        <a class="text-inherit" href="{{ url | url }}" aria-label="Learn more about {{ title }}">
          {{ title }}
        </a>
      </h3>
      <ul class="[ flex-row ] [ text-dark gap-xxs list-style-none ]">
        <li class="fs-xxs">
          <time date="{{ date }}">{{ date | formatDateYYYYMMDD }}</time>
        </li>
        <li class="fs-xxs">
          <span>{% include "icons/small/tag.svg" %}</span>
          {# {{ tags | turnAnchorTag | joiner(', ') | safe }} #}
          {% for tag in tags %}
            <a>{{ tag }}</a>
          {% endfor %}
        </li>
      </ul>
      <p class="fs-xs">{{ description }}</p>
    </div>
  </article>
{% endmacro %}