{% macro projectCard(lang = "en", title = false, screenshot = false, url = false, description = false) %}
  <article class="[ flex-column ] [ bg-white text-dark border-primary h-100 ]">
    <figure class="border-bottom-primary">
      <img
        src="{{ screenshot | url }}"
        alt="Screenshot of {{ title }}"
        width="100%"
        height="auto">
    </figure>
    <div class="[ flex-column ] [ padding-xs gap-xs flex-grow ]">
      <h3 class="project-card__title">
        <a class="text-inherit" href="{{ url | url }}" aria-label="Learn more about {{ title }}">
          {{ title }}
        </a>
      </h3>
      <p class="fs-xs">{{ description }}</p>
    </div>
  </article>
{% endmacro %}