{% extends "./base.njk" %}
{% set currentType = page.url | split("/") | offset(2) | first %}

{% from "macros/archiveGrid.njk" import archiveGrid %}

{% block content %}
  <div class="[ container-lg inner-container ] [ flex-column ] [ gap-xs flex-grow padding-xs ]">
    {% set translation = 'common.'+currentType %}
    <h1>{{ translation | i18n }}</h1>

    {% if currentType === 'projects' %}
    <p>{{ 'archive.projects' | i18n }}</p>
    {{ archiveGrid(type = currentType,collection = collections['projects_'+page.lang]) }}

    {% elif currentType === 'articles' %}
    <p>{{ 'archive.articles' | i18n }}</p>
    {{ archiveGrid(type = currentType,collection = collections['articles_'+page.lang]) }}

    {% endif %}
    
  </div>
  {% endblock %}