{% extends "./default.njk" %}
{% set currentType = page.url | split("/") | offset(2) | first %}

{% from "macros/projectCard.njk" import projectCard %}

{% block content %}
  <div class="[ container-lg inner-container ] [ flex-column ] [ gap-xs flex-grow padding-xs ]">
    {% set translation = 'common.'+currentType %}
    <h1>{{ translation | i18n }}</h1>
    {% if currentType === 'projects' %}
      
      <div class="[ project-grid ] [ gap-md ]">
        {% for item in collections['projects_'+page.lang] %}
          {{ projectCard (
            title = item.data.title,
            featuredImage = item.data.featuredImage,
            url = item.url,
            description = item.data.description ) }}
        {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endblock %}