---
layout: "base.njk"
---

<article class="[ wrapper content ] [ bg-white padding-sm padding-block-xs ]">
  <header class="[ flex-column ] [ gap-xs grid-column-2 ]">
    <div class="flex-column gap-xxs">
      <h1>{{ title }}</h1>
      <p class="fs-sm">
        <em>{{ description }}</em>
      </p>
    </div>
    <div class="flex-row flex-wrap gap-xs">
      <p class="fs-xxs">
        {{ 'article.publishedOn' | i18n }}
        <time date="{{ date }}">{{ date | formatDateYYYYMMDD }}</time>
      </p>
      <p class="fs-xxs">
        <span>{% include "icons/small/tag.svg" %} </span>
        <span>{{ tags | joiner(', ') }}</span>
      </p>
    </div>
  </header>
  <hr class="grid-column-2">
  <main class="[ article ] [ flex-column ] [ grid-column-2 fs-sm gap-xxs ]">
    {{ content | safe }}
  </main>
  <hr class="grid-column-2 mb-lg">
  <footer class="[ flex-column ] [ gap-xxs grid-column-2 ]">
    <p class="fs-xs">{{ 'article.thanks' | i18n }}

    <p class="fs-xs">
      {{ 'common.encourageContribution1' | i18n }}
      <a
        class="text-inherit"
        href="https://github.com/Guirdo/website/tree/main/{{ page.inputPath }}"
      >
        {% include "icons/small/github.svg" %}
        {{ 'common.encourageContribution2' | i18n }}
      </a>
    </p>

    <div class="flex-row">

      {% set previousPost = collections.articles_es | getPreviousCollectionItem %}
      {% set nextPost = collections.articles_es | getNextCollectionItem %}

      <div class="flex-column">
        {% if previousPost %}
        <p>{{ 'article.previousArticle' | i18n }}</p>
        <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        {% endif %}
      </div>
      
      <div class="flex-column">
        {% if nextPost %}
        <p>{{ 'article.nextArticle' | i18n }}</p>
        <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        {% endif %}
      </div>

    </div>
  </footer>
</article>