---
layout: "base.njk"
---

<article class="[ article ] [ wrapper content ] [ bg-white padding-sm padding-block-xs ]">
  <header class=" [ grid-column-2 ]">
    <div>
      <h1>{{ title }}</h1>
      <p>
        <em>{{ description }}</em>
      </p>
    </div>
    <div class="">
      <p>
        {{ 'article.publishedOn' | i18n }}
        <time date="{{ date }}">{{ date | formatDateYYYYMMDD }}</time>
      </p>
      <p>
        <span>{% include "icons/small/tag.svg" %} </span>
        <span>{{ tags | joiner(', ') }}</span>
      </p>
    </div>
  </header>
  <hr class="grid-column-2">
  <main class="[ grid-column-2 fs-sm ]">
    {{ content | safe }}
  </main>
  <hr class="grid-column-2 mb-lg">
  <footer class="grid-column-2 ]">
    <p class="fs-xs">{{ 'article.thanks' | i18n }}

    <p class="fs-xs">
      {{ 'common.encourageContribution1' | i18n }}
      <a
        class="text-inherit"
        href="https://github.com/Guirdo/website/tree/main/{{ page.inputPath }}"
      >
        {% include "icons/small/github.svg" %}
        {{ 'common.encourageContribution2' | i18n }}
      </a>
    </p>

    <div class="flex-row flex-wrap">
      {# 
        Due to the collection is reversed from origin,
        the variables names doesn't correspond to the filters ones
       #}
      {% set nextPost = collections.articles_es | getPreviousCollectionItem %}
      {% set prevPost = collections.articles_es | getNextCollectionItem %}

      <div class="flex-grow">
        {% if prevPost %}
        <p>{{ 'article.previousArticle' | i18n }}</p>
        <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
        {% endif %}
      </div>

      <div class="flex-grow">
        {% if nextPost %}
        <p>{{ 'article.nextArticle' | i18n }}</p>
        <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        {% endif %}
      </div>
    </div>
  </footer>
</article>