<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="ltr">
<head>
  {% include "partials/head.njk" %}
  {% block pageScripts %} {% endblock %}
</head>
<body class="flex-column">
  {% block hero %}{% endblock %}
  {% include "partials/navbar.njk" %}
  
  <main class="flex-grow-2">
    {% block content %}{% endblock %}
    {{ content | safe }}
  </main>

  {% include "partials/footer.html" %}
</body>
</html>