<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="ltr">
<head>
  {% include "partials/head.njk" %}
</head>
<body class="flex-column">
  {% include "partials/navbar.njk" %}
  
  <main class="[ flex-column ] [ flex-grow-2 ]">
    {% block content %}{% endblock %}
    {{ content | safe }}
  </main>

  {% include "partials/footer.html" %}
</body>
</html>