{% extends "./base.njk" %}

{% block hero %}
<header class="[ hero ] [ flex-column-reverse align-items-end] [ h-100vh ]">
  <div class="[ hero-presentation ] [ box-shadow-blur bg-primary align-self-end ]">
      <div class="[ hero-welcome ] [ flex-column ] [ gap-xs padding-xs text-white ]">
        <h1 class="hero__title">
        Hey, there! <br> 
        I'm Seb Méndez <br>
        Front-end developer
        </h1>
        <p class="fs-sm">
          A front-end developer who brings good-looking web designs to life
        </p>
      </div>
      <a class="[ hero-scroll-down ] [ flex-row ] [ align-items-center padding-xs bg-secondary justify-content-evenly ]">
        {% include "icons/scroll-down.svg" %}
        <span class="fs-sm">Scroll down</span>
      </a>

      <a class="[ hero-contact ] [ flex-row ] [ align-items-center padding-xs bg-white justify-content-evenly ]">
        {% include "icons/mail.svg" %}
        <span class="fs-sm">Contact me!</span>
      </a>
  </div>
</header>
{% endblock %}