{% extends "./base.njk" %}

{% block pageScripts %}
  <script type="module" src="/assets/scripts/landing-page.js" defer></script>
{% endblock %}

{% block hero %}
<header class="[ hero ] [ flex-column-reverse align-items-end] [ h-100vh ]">
  <div class="[ hero-presentation ] [ box-shadow-blur bg-primary align-self-end ]">
      <div class="[ hero-welcome ] [ flex-column ] [ gap-xs padding-xs text-white ]">
        <h1 class="hero__title">
        {{ 'hero.greeting1' | i18n }} <br> 
        {{ 'hero.greeting2' | i18n }} <br>
        {{ 'hero.greeting3' | i18n }}
        </h1>
        <p>
          {{ 'hero.presentation' | i18n }} 
        </p>
      </div>
      <a href="#about-me" class="[ hero-scroll-down ] [ flex-row ] [ text-inherit align-items-center padding-block-xs bg-secondary justify-content-evenly ]">
        {% include "icons/scroll-down.svg" %}
        <span class="fs-sm">{{ 'hero.see-more' | i18n }} </span>
      </a>

      <a href="#contact" class="[ hero-contact ] [ flex-row ] [ text-inherit align-items-center bg-white justify-content-evenly ]">
        {% include "icons/email.svg" %}
        <span class="fs-sm">{{ 'hero.contact' | i18n }} </span>
      </a>
  </div>
</header>
{% endblock %}