<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="ltr">
<head>
  {% include "partials/head.njk" %}
</head>
<body class="flex-column">
  <main class="flex-grow-2">
    {{ content | safe }}
  </main>
</body>
</html>