---
layout: "base.njk"
---

<article class="[ container inner-container ] [ flex-column ] [ gap-xs bg-white padding-sm padding-block-xs ]">
  <header class="[ flex-column ] [ gap-xs ]">
    <picture class="lg-w-75 w-100 align-self-center">
      <img class="border-primary" src="{{ screenshot | url }}" alt="Screenshot of {{ title }}" width="100%" height="auto"></picture>
      <div>
        <h1>{{ title }}</h1>
        <p>
          <em class="fs-xs">{{ description }}</em>
        </p>
        <p>
          <small class="fs-xs">
            <b>Stack:
            </b>
            {{ stack | joiner(', ') }}
          </small>
        </p>
        <div class="flex-row gap-xs flex-wrap">
          {% if repoUrl %}
            <a
              class="fs-xs text-inherit align-items-center" 
              href="{{ repoUrl | url }}" 
              target="_blank"
              aria-label="{{ 'project.checkCodeAria' | i18n({ project: title }) }}"
            >
              {% include "icons/small/github.svg" %} {{ 'project.checkCode' | i18n }}
            </a>
          {% endif %}
          {% if demoUrl %}
            <a
              class="fs-xs text-inherit" 
              href="{{ demoUrl | url }}" 
              target="_blank"
              aria-label="{{ 'project.onlineDemoAria' | i18n({ project: title }) }}"
            >
              {% include "icons/small/internet.svg" %} {{ 'project.onlineDemo' | i18n }}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="flex-row flex-wrap gap-xs">
        <p class="fs-xxs">
        Created on:
        <time date="{{ date }}">{{ date | formatDateYYYYMMDD }}</time>
      </p>
      <p class="fs-xxs">
        <span>{% include "icons/small/tag.svg" %}</span>
        {# {{ tags | turnAnchorTag | joiner(', ') | safe }} #}
        {% for tag in tags %}
          <a>{{ tag }}</a>
        {% endfor %}
      </p>
      </div>
    </header>
    <hr>
      <main class="[ article ] [ flex-column ] [ fs-xs gap-xxs ]">
        {{ content | safe }}
      </main>
      <hr>
      <footer>
        {% block references %}{% endblock %}
      </footer>
    </article>