---
layout: "base.njk"
---

<article class="[ article project ] [ wrapper content ] [ bg-white padding-sm padding-block-xs ]">
  <header class="[ grid-column-2 ]">
    <figure class="w-100">
      <img
        class="border-primary"
        src="{{ featuredImage | url }}"
        alt="Screenshot of {{ title }}"
        width="100%"
        height="auto"
      >
    </figure>
    <div>
      <h1>{{ title }}</h1>
      <p>
        <em>{{ description }}</em>
      </p>
      <p>
        <b>Stack:</b> {{ stack | joiner(', ') }}
      </p>
      <p>
        {% if repoUrl %}
          <a
              class="text-inherit align-items-center" 
              href="{{ repoUrl | url }}" 
              target="_blank"
              aria-label="{{ 'project.checkCodeAria' | i18n({ project: title }) }}"
            >
              {% include "icons/small/github.svg" %} {{ 'project.checkCode' | i18n }}
            </a>
        {% endif %}
        {% if demoUrl %}
          <a
              class="text-inherit" 
              href="{{ demoUrl | url }}" 
              target="_blank"
              aria-label="{{ 'project.onlineDemoAria' | i18n({ project: title }) }}"
            >
              {% include "icons/small/internet.svg" %} {{ 'project.onlineDemo' | i18n }}
            </a>
        {% endif %}
      </p>
    </div>
    <div>
      <p>
        {{ 'project.createdOn' | i18n }}
        <time date="{{ date }}">{{ date | formatDateYYYYMMDD }}</time>
      </p>
      <p>
        <span>{% include "icons/small/tag.svg" %}</span>
        <span>{{ tags | joiner(', ') }}</span>
      </p>
    </div>
  </header>
  <hr class="grid-column-2">
  <main class="[ grid-column-2 fs-sm ]">
    {{ content | safe }}
  </main>
  <hr class="grid-column-2">
  <footer class="grid-column-2">
    {% block references %}{% endblock %}
    <p class="fs-xs">
      {{ 'common.encourageContribution1' | i18n }}
      <a
        class="text-inherit"
        href="https://github.com/Guirdo/website/tree/main/{{ page.inputPath }}"
      >
        {% include "icons/small/github.svg" %}
        {{ 'common.encourageContribution2' | i18n }}
      </a>
    </p>
  </footer>
</article>