<!DOCTYPE html>
<html lang="en">
<head>
  {% include "baseHead.njk" %}
  {% block pageStyles %}{% endblock %}
</head>
<body>
  {% include "navbar.html" %}
  <main>
    {{ content | safe }}
  </main>
</body>
</html>