:root {
  /* Font */
  --font: 'Inconsolata', monospace;

  /* Color */
  --primary: #170C26;
  --secondary: #7D7D8C;
  --shadow: rgba(0, 0, 0, 0.35);
  --white: #F0F0F2;
  --dark: #07030D;

  /* Spacing */
  --s-xs: 1rem;
  --s-sm: 1.25rem;
  --s-md: 1.5rem;
  --s-lg: 1.75rem;
  --s-xlg: 2rem;
}