.about-me {
  display: flex;
  flex-direction: column;
  gap: var(--s-lg);
  padding-inline: 0 var(--s-xlg);
  border-top: 2px solid black;
  padding-block: var(--s-xlg);
}

.about-me__title {
  margin-inline-start: var(--s-xlg);
}

.about-me-rectangle {
  align-self: flex-start;
  background-color: var(--primary);
  padding: var(--s-xlg);
  color: white;
  font-size: var(--s-sm);
  display: flex;
  flex-direction: column;
  gap: var(--s-lg);
  width: 90%;
}

