.hero {
  height: calc(100vh - (var(--s-xlg) + var(--s-xs)));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--s-xlg);
  align-self: center;
  padding: var(--s-xlg);
}

.hero-profile {
  display: grid;
  grid-template-areas: 
    "photo title"
    "photo text"
    "photo button";
  gap: var(--s-lg);
  max-width: 90%;
}

.hero-photo {
  grid-area: photo;
  max-width: 280px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.hero__title {
  grid-area: title;
}

.hero__text {
  grid-area: text;
  font-size: var(--s-lg);
}

.hero__button {
  grid-area: button;
}

.hero-next-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--s-md);
  margin-top: auto;
  gap: var(--s-xs);
}

.hero-next-section > div {
  height: calc(5vh);
  width: 0;
  margin-inline: auto;
  border: 1px solid black;
}