---
layout: home.njk
title: Seb Méndez | Front-end developer
description: I'm a front-end developer who's looking an oportunity to join a great team
---

{% from "macros/projectCard.njk" import projectCard %}

<section id="about-me" class="bg-secondary">
  <div class="[ container inner-container ] [ flex-column ] [ gap-md ]">
    <h2>About me</h2>

    <p>
      I'm Seb Méndez, also known as guirdo. I'm front-end developer from Mexico, I finished a computational system engineering degree and I'm looking for joining a great team who's working in great web app and pages.
    </p>
    <p>
      Since 2019, I've been developing web sites which I found a way to express myself and to help others bring their ideas to life (Take a look to my work below).
    </p>
    <p>
      I'm focus on the old classic HTML, CSS and JavaScript, (the second one is my fav), additioanally I've been building web sites with ReactJS and NextJS.
    </p>
  </div>
</section>

<section id="projects" class="[ project-section ] [ bg-primary ]">
  <div class="[ container inner-container ] [ flex-column align-items-center ] [ gap-md ]">
    <h2 class="[ mb-start-lg text-white ]">Projects</h2>

    <div class="[ project-grid ] [ gap-md ]">
      {% for item in collections.promotedProjects %}
        {{ projectCard (
            title = item.data.title,
            screenshot = item.data.screenshot,
            url = item.url,
            description = item.data.description ) }}
      {% endfor %}
    </div>

    <a
      href="/projects"
      class="[ flex-row ] [ text-inherit align-items-center padding-xs bg-white justify-content-evenly mb-end-lg w-fit-content ]"
      aria-label="View more projects"
    >
      View more projects
    </a>
  </div>
</section>

<section id="contact">
  <div class="[ container inner-container ] [ flex-column ] [ gap-md ]">
    <h2 class="[ contact-section__title ] [ text-align-start fs-xlg ] ">Contact me!</h2>

    <p>
      It would be cool if you send me a message or any doubt you get about my work or anything else. You can also contact me on my social networks.
    </p>

    <div class="[ contact-socials ] [ gap-xs ]">
      {% for item in social %}
      <a
        class="[ flex-row ] [ bg-white gap-xs text-inherit align-items-center padding-xs ]"
        href="{{ item.url | url }}" 
        aria-label="{{ 'social.aria' | i18n({ social: item.name }) }}"
        target="_blank"
      >
        {% set icon = "icons/"+item.name+".svg" %}
        {% set name = 'social.'+item.name %}
        {% include icon %}
        <span class="fs-xs">{{ name | i18n }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</section>