---
layout: base.njk
title: Guirdo
description: "Welcome to my site"
templateEngineOverride: njk
---

<section class="[ hero ] [ flex-column ] [ gap-xlg align-items-center padding-xlg justify-content-evenly ]">
  <div class="[ hero-profile ] [ gap-lg align-items-center ]">
    <img class="[ hero-photo ] [ box-shadow-blur border-radius-50 ]"
      src="{{ 'https://res.cloudinary.com/dyuo7wfyi/image/upload/v1676650083/website/profile.jpg' | url }}"
      alt="Seb Méndez">

    <h1 class="hero__title">Hey, there! I'm Seb Méndez</h1>
    <p class="[ hero__text ] [ fs-lg ]">A front-end developer who brings good-looking web designs to life</p>

    <button class="[ button ] [ fw-bold fs-md ]" data-type="primary">
      Contact me!
    </button>
  </div>
</section>

<section class="[ about-me ] [ flex-column ] [ gap-lg ]">
  <h2 class="about-me__title fs-xlg">About me</h2>

  <div class="[ about-me-rectangle ] [ flex-column ] [ box-shadow-blur gap-lg bg-primary padding-xlg text-white fs-sm ]">
    <p>
      I’m a front-end developer, I’m from Mexico and I finished a degree in computational system engineering.
    </p>
    <p>
      I love web developing and internet because I can create something creative, beautiful and useful from scratch and
      share it to everyone easily with just a link.
    </p>
    <p>
      With my knowledge in front-end technologies and web design a I’ve help local businesses to be present in the
      internet.
    </p>
    <p>
      I’m passionate about creating good web pages for people, since I believe technology must be at our service and
      not the opposite.
    </p>
  </div>
</section>

<section class="[ project-section ] [ flex-column ] [ bg-primary text-white padding-xlg gap-lg mb-start-xlg ]">
  <h2 class="[ project-section__title ] [ mi-start-auto mb-start-xlg fs-xlg ]">Projects</h2>

  <div class="[ project-section-grid ] [ grid-column ] [ gap-xlg mb-end-xlg ]">
    {% for index in range(0,4) %}
    <article class="[ project-card ] [ flex-column ] [ padding-xs gap-xs justify-content-center bg-white text-dark box-shadow-blur ]">
      <img class="project-card__cover" src="https://picsum.photos/600/400" alt="Project name">
      <h3 class="project-card__title">Project name</h3>

      <p class="project-card__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia delectus nemo rerum. Maiores reiciendis
        tempora esse dolorum eum nam omnis cumque non! Perferendis, explicabo! Amet dolores maiores cupiditate quae cum.
      </p>

      <button class="button fw-bold" data-type="secondary">
        Learn more
      </button>
    </article>
    {% endfor %}
  </div>
</section>

<section class="[ contact-section ] [ flex-column ] [ padding-xlg gap-lg ]">
  <h2 class="[ contact-section__title ] [ text-align-start fs-xlg ] ">Contact me!</h2>

  <div class="[ contact-section-container ] [ gap-xlg ]">
    <div class="[ flex-column ] [ gap-xlg ]">
      <p>
        It would be cool if you send me a message or any doubt you get about my work or anything else. You can also
        contact me on my social networks.
      </p>

      <ul class="list-style-none flex-column gap-sm">
        {% for item in social %}
        <li>
          <a class="[ flex-row ] [ gap-xs text-primary ]" href="{{ item.url | url }}">
            <span>
              {% include 'icons/' + item.icon %}
            </span>
            <span class="text-align-center">{{ item.label }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <form class="[ flex-column ] [ box-shadow-blur border-primary padding-sm gap-sm ]">
      <div class="[ flex-column ] [ gap-xs ]">
        <label for="name">Your name</label>
        <input name="name" id="name">
      </div>
      <div class="[ flex-column ] [ gap-xs ]">
        <label for="email">Your email address</label>
        <input name="email" id="email" type="mail">
      </div>
      <div class="[ flex-column ] [ gap-xs ]">
        <label for="message">Your message</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <button
        class="[ button ] [ fw-bold ]" 
        data-type="primary"
        type="submit"
      >
        Send message
      </button>
    </form>
  </div>
</section>