---
layout: base.njk
title: Seb Méndez | Desarrollador front-end
description: Soy un desarrollador front-end que busca una oportunidad para unirme a un gran equipo
---

<h2>You are not supposed to be here 😕</h2>
<h2>Please, go back <a href="/en">home</a></h2>

<h2>No se supone que este aquí 😕</h2>
<h2>Por favor, regresa a <a href="/es">casa</a></h2>
