<footer class="[ flex-row ] [ flex-wrap gap-md bg-primary text-white padding-xlg justify-content-evenly ]">
  <p class="text-align-center">
    {{ 'madeWith' | i18n({ name: 'Seb Méndez' }) }} | 2022 - 2023
  </p>

  <nav>
    <ul class="[ flex-row ] [ gap-sm list-style-none ]">
      {% for item in social %}
      <li>
        <a
          class="text-inherit"
          href="{{ item.url | url }}"
          aria-label="{{ 'social.aria' | i18n({ social: item.name }) }}"
          target="_blank"
        >
          <span>
            {% include 'icons/'+item.name+".svg" %}
          </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</footer>