<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>

<link rel="stylesheet" href="/assets/css/global.css" >

<link
  rel="preload"
  href="/assets/fonts/Inconsolata-Bold.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link
  rel="preload"
  href="/assets/fonts/Inconsolata-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<script type="module" src="/assets/scripts/app.js" defer></script>

{% include "./meta-info.njk" %}

<link rel="icon" href="{{ "/favicon.svg" | url }}" type="image/svg+xml" />
<link rel="icon" href="{{ "/favicon.ico" | url }}" sizes="any" />