<base href="{{ page.url }}" >

<meta name="description" content="{{ description }}" >

<!-- Control the behavior of search engine crawling and indexing -->
<meta name="robots" content="index,follow"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->

<meta
  name="generator"
  content="{{ site.generator }}"
/>
<meta
  name="format-detection"
  content="telephone=no"
/>
<link
  rel="canonical"
  href="{{ site.url }}{{ page.url }}"
/>

{# Alternate languages #}
<link rel="alternate" hreflang="{{ page.lang }}" href="{{ site.url }}{{ page.url }}" />

{% for link in page.url | locale_links %}
<link
  rel="alternate"
  hreflang="{{ link.lang }}"
  href="{{ site.url }}{{ link.url }}"
/>
{% endfor %}

{# Open graph meta #}

<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}"/>

<meta
  property="og:image"
  content="{% if featuredImage %}{{ featuredImage }}{% else %}{{ meta.defaultFeaturedImage }}{% endif %}"
/>

<meta
  property="og:description"
  content="{{ description }}"
/>

<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:locale" content="{{ page.lang }}" />
<meta property="article:author" content="{{ site.author.name }}" />

<!-- Twitter meta -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.author.twitterHandle }}" />
<meta name="twitter:creator" content="{{ site.author.twitterHandle }}" />
<meta name="twitter:dnt" content="on" />
