<nav class="[ navbar ] [ bg-primary padding-block-sm ]">
  <div class="[ navbar-container ] [ flex-row ] [ gap-xs justify-content-between align-items-center mi-xlg mi-auto text-white ]">
    <a
      class="[ navbar__brand ] [ mi-end-auto text-decoration-none ]" 
      href="{{ "/" | locale_url }}"
    >
      Seb Méndez
    </a>
    <!-- Links -->
    <div id="navbarLinks" class="[ navbar-links ] [ flex-column ] [ box-shadow-blur lg-box-shadow-none bg-primary gap-xs padding-xs lg-padding-0 lg-visible align-items-center ]">
      <a href="{{ "/" | locale_url }}#about-me" aria-label="About section">
        {{ 'common.about' | i18n }}
      </a>
      <a href="{{ "/projects/"| locale_url }}" aria-label="Projects section">
        {{ 'common.projects' | i18n }}
      </a>
      <a href="{{ "/" | locale_url }}#contact" aria-label="Contact section">
        {{ 'common.contact' | i18n }}
      </a>
    </div>
    <!-- Controls -->
    <div class="[ navbar-controls ] [ flex-row ] [ gap-xs align-items-center ]">
      <button id="menuButton"
        class="[ flex-row ] [ lg-display-none no-border no-background align-items-center text-white ]"
        aria-label="Menu">
        {% include "icons/menu.svg" %}
      </button>
      <button id="langButton"
        class="[ flex-row ] [ no-border no-background align-items-center text-white ]"
        aria-label="Menu">
        {% include "icons/translate.svg" %}
      </button>
      <button id="themeButton" class="flex-row no-border no-background align-items-center text-white"
        aria-label="Select theme">
        {% include "icons/palette.svg" %}
      </button>
    </div>
    <!-- Lang menu -->
    <div
      id="langMenu"
      class="[ navbar-lang ] [ flex-column ] [ box-shadow-blur bg-primary padding-xs align-items-center ]"
    >
      {% for link in page.url | locale_links %}
      <a
        href="{{ link.url }}" 
        lang="{{ link.lang }}"
        hreflang="{{ link.lang }}"
        {% set currentLang = 'common.'+link.lang %}
        aria-label="{{ 'common.translateToLang' | i18n }} {{ currentLang | i18n }}"
      >
        {{ link.lang | upper }}
        {% if link.lang === 'es' %}
          🇲🇽
        {% else %}
          🇺🇸
        {% endif %}

      </a>
      {% endfor %}
      <a
        href="{{ page.url }}"
        lang="{{ page.lang }}"
        hreflang="{{ page.lang }}"
        {% set currentLang = 'common.'+page.lang %}
        aria-label="{{ currentLang | i18n }}"
      >
        {{ page.lang | upper }}
        {% if page.lang === 'es' %}
          🇲🇽
        {% else %}
          🇺🇸
        {% endif %}

      </a>
    </div>
    <!-- Theme picker -->
    <form
      id="themeMenu" 
      class="[ navbar-themes ] [ box-shadow-blur bg-primary padding-xs align-items-center ]"
    >
    <div class="flex-column gap-xs bg-white text-dark padding-xs">
      <div class="flex-column gap-xxs align-items-center">
        <input
          id="mermaid"
          type="radio"
          name="theme"
          checked 
        >
        <label for="mermaid" class="fs-xxs">{{ 'themes.mermaid' | i18n }}</label>
      </div>

      <div class="flex-column gap-xxs align-items-center">
        <input
          id="roqueta"
          type="radio"
          name="theme"
        >
        <label for="roqueta" class="fs-xxs">{{ 'themes.roqueta' | i18n }}</label>
      </div>
    </div>
    </form>
  </div>
</nav>
